.game-unit_header {
  background-color: #004060 !important;
}

.game-unit_card {
  padding-top: 35% !important;
}

.game-unit_template-flag {
  opacity: .9;
}

.game-unit_template-image {
  max-height: 256px;
}

.game-unit_card-info {
  top: 2em;
  right: 3em;
}

.game-unit_br-item div {
  line-height: 1;
}