@use '../variables' as *;

.game-unit {
  --unit-regular-color: #004060;
  --unit-premium-color: #856800;
  --unit-squadron-color: #175e05;
}

.game-unit_header {
  background-color: #004060 !important;
  box-sizing: border-box;
}

.game-unit_card {
  padding-top: 35%;
}

.game-unit_template-flag {
  top: 10px;
  opacity: .9;
}

.game-unit_template-image {
  max-height: 256px;
}

.game-unit_template::after {
  --gradient-height: 150px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, #004060, transparent var(--gradient-height));
}

.game-unit_nation, .game-unit_name {
  line-height: normal;
}

.game-unit_card-info {
  top: 2em;
  right: 3em;
  width: 320px;
  line-height: 1;
  transition: opacity .8s;
}

.game-unit_card-info_item {
  backdrop-filter: blur(5px);
  box-shadow: rgba(0,0,0,0.2) 0px 0.5rem 1rem;
}

.game-unit_rank .game-unit_card-info_value {
  letter-spacing: 1px;
}

.text-gray {
  // line-height: 1;
  color: #ccc;
  margin-bottom: 1px;
}

.game-unit_card-info_value {
  gap: 5px;
}

.btn-dark {
  background-color: #232324 !important;
  padding: 0 10px !important;
  &:hover {
    background-color: #000000 !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
  }
}

.game-unit_weapon:first-child {
  margin-top: .5em;
}

.game-unit_weapon:last-child {
  margin-bottom: 0 !important;
}

.game-unit_weapon-title {
  top: -12px;
}

.game-unit_chars {
  column-count: 2;
}

.game-unit_chars-block {
  break-inside: avoid;
}

.game-unit_chars-line, .game-unit_chars-subline {
  border-bottom: 1px dashed #404040;
}

.game-unit_features {
  grid-template-columns: repeat(3, 1fr);
}

.game-unit_feature .icon {
  position: relative;
  min-width: 28px;
  max-width: 34px;
  height: 28px;
}

.game-unit_feature .icon svg,
.game-unit_popover-header .icon svg {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  color: $light;
}

.game-unit_popover-header .game-unit_b-icon {
  width: 50px;
  height: 50px;
}

.accordion-button {
  font-size: 13px !important;
  padding: .6rem !important;
  font-weight: bold;
}

.game-unit_belt-list thead tr th {
  background-color: #404040 !important;
  font-size: 12.8px !important;
}

.game-unit_belt-list tr {
  border-bottom: 1px solid #404040;
}

.game-unit_b-icon {
  width: 26px;
  height: 26px;
}

.shell-designation,
.belt-name {
  font-size: 12.16px;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.shell-variant, .shell-pen,
.belt-filling, .belt-pen {
  font-size: 12.8px !important;
}

.game-unit_popover {
  width: 100%;
  max-width: 250px !important;
}

// .popover-body {
//   padding: 8px 14px 11px !important;
// }

// .game-unit_popover-header {
//   gap: 10px;
//   line-height: 1.2;
//   margin-bottom: 6px;
// }

// .game-unit_popover-header .icon {
//   width: 38px;
//   height: 38px;
//   flex-shrink: 0;
// }

// .game-unit_popover-header .icon .game-unit_b-icon {
//   width: 100%;
//   height: 100%;
// }

.game-unit_favorite--favorite,
.game-unit_favorite--favorite span {
  color: red !important;
}

.toast {
  position: fixed;
  top: 10%;
  right: 2%;
}

@media (max-width: 576px) {
  .game-unit_card {
    padding-top: 50%;
  }
  
  .game-unit_template-image {
    padding-top: 20px;
  }

  .game-unit_title {
    padding: 0 15px;
  }

  .game-unit_nation {
    font-size: 14px;
  }

  .game-unit_name {
    font-size: 28px;
  }

  .game-unit_card-info {
    position: relative;
    top: 0;
    left: 0;
    margin: 5px 0;
    max-width: 420px;
    width: 100%;
    padding: 0 10px;
  }

  .game-unit_controls {
    padding: 0 15px;
    height: 44px;
  }

  .game-unit_control {
    height: 28px;
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .game-unit_card {
    padding-top: 42.858%;
  }
}