@use "variables" as *;
@use "Animations";

@font-face {
  font-family: "WTSymbols";
  src: url("/src/assets/fonts/symbols_skyquake.bfc9728c6a6bc73f209a.ttf");
}

:root {
  --bs-dark-bg-subtle: #1b1b1bcc;
}

.font-wt {
  font-family: "WTSymbols", "Nunito" !important;
}

.font-roboto {
  font-family: "Roboto" !important;
}

body {
  background-color: $body-bg;
}

body,
span,
button {
  font-family: "Nunito" !important;
  color: $light !important;
}

body,
a,
span {
  font-weight: 500 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
}

html {
  scroll-behavior: smooth;
}

.fs-17 {
  font-size: 17px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-11 {
  font-size: 11px !important;
}

.text-muted {
  color: #a4a4a4 !important;
}